@import "tailwindcss";

@theme {
--color-primary-color: #043873;
--color-primary2-color: #4F9CF9;
--color-secondary1-color: #FFE492;
--color-secondary2-color: #A7CEFC;
--color-secondary3-color: #FFFFFF;
--color-secondary4-color: #212529;

--font-primary: "Inter", sans-serif;
}